/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Variables */
:root {
    --font-size:1rem; 
    --couleur-transparente: rgba(0, 0, 0, 0.158);
}

/* Thèmes */
.light-mode {
    --navbar-color : #222;
    --navbar-bg-color: #F0F0F0;
}
.dark-mode {
    --navbar-color : #FFF;
    --navbar-bg-color: #000;
}
.transparent-mode {
    --navbar-color : #F0F0F0;
    --navbar-bg-color : var(--couleur-transparente);
}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

ul {
    list-style: none;
}

/* Layout */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-size: var(--font-size);
    font-family: 'Poppins', sans-serif;
    background-color: #2E374C;
}

main {
    flex: 1;
    width: 100%;
    position: relative;
    z-index: 1;
}

/* Vidéo */
video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 50vw;
    height: 80vh;
    transform: rotate(90deg) translate(10%, 35%); 
    opacity: 0.8;
}

/* Contenu principal */
#principale {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    left: 28%;
}

#principale h1 {
    color: #AE9A64;
    font-family: "Spectral SC", serif;
    font-weight: 300;
    font-size: 4.5rem;
    margin: 30px 0;
}

.img_resto {
    width: 80%;
    opacity: 0.8;
}

.text_resto_one, .text_resto_two {
    color: #AE9A64;
    padding: 10px 30px;
    text-align: center;
    margin-top: 20px;
}

.container_resto {
    width: 100%;
    display: flex;
   
}

.container_resto .text_resto_two {
    width: 75%;
    padding: 0 20px;
     text-align: center;
    align-items: center;
    justify-content: center;
}

.container_resto img {
    width: 20%;
    height: 320px;
    margin: 5px 15px;
}

#carte {
    position: relative;
    padding: 10px;
   
}
#btn {
    text-align: center;
    padding: 20px;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 10px;
    color: var(--navbar-color);
    background: var(--navbar-bg-color);
    border-bottom: 1px solid #F0F0F0;
}

.navbar_logo {
    padding: 0px 5px;
    height: 100%;
}

.navbar_logo img {
    height: 100%;
}

.navbar_links {
    display: flex;
}

.navbar_link {
    padding: 0 10px;
}

.navbar_link > a {
    text-decoration: none;
    color: var(--navbar-color);
}

.burger {
    display: none;
}

/* Responsive - petit écran */
@media screen and (max-width:767px) {
    body {
        background-image: url(Images/Accueil3.jpeg);
    }

    .navbar_links {
        display: flex;
        flex-direction: column;
        width: 30%;
        position: absolute;
        top: 90px;
        left: 10;
        background: var(--navbar-bg-color);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
        border-radius: 5px;
    }

    .show-nav .navbar_links {
        opacity: 1;
        visibility: visible;
    }

    .navbar_link {
        opacity: 0;
        transform: translateX(-50px);
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    .show-nav .navbar_link {
        opacity: 1;
        transform: translateY(0);
    }

    .navbar_link > a {
        display: block;
        padding: 1rem;
        font-size: 1.2rem;
        transition: all .4s ease-in-out;
    }

    .burger {
        display: block;
        position: relative;
        padding-left: 10px;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 25px;
        height: 2px;
        background: var(--navbar-color);
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }

    .bar::before, .bar::after {
        content: "";
        display: block;
        width: 25px;
        height: 2px;
        position: absolute;
        background: var(--navbar-color);
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }

    .bar::before { transform: translateY(-12px); }
    .bar::after { transform: translateY(12px); }

    .show-nav .bar { width: 0; background: transparent; }
    .show-nav .bar::before { transform: rotate(45deg); }
    .show-nav .bar::after { transform: rotate(-45deg); }
}

/* Navbar hover effet */
@media screen and (min-width:768px) {
    .navbar_link > a::after {
        display: block;
        content: "";
        width: 0;
        height: 1px;
        background: var(--navbar-color);
        transition: width .4s;
    }
    .navbar_link:hover > a::after {
        width: 100%;
    }
}

/* Dialogue */
#dialogue {
    font-family: "Spectral SC", serif;
    align-items: center;
    text-align: center;
    font-size: 40px;
}
#dialogue div {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

/* Footer — modifié */
footer {
    position: relative;   /* Assurez-vous que la position soit relative ou fixed */
    height: 80px;         /* Hauteur fixe de 80px */
    width: 100%;
    display: flex;
    align-items: center;  /* Centrage vertical du contenu */
    justify-content: space-between;
    border-top: 1px solid #F0F0F0;
    background-color: var(--couleur-transparente);
    font-size: 0.8rem;
    z-index: 10; /* Pour s'assurer que le footer reste au-dessus de tout autre contenu */
    margin-top: auto; /* Cette ligne permet de forcer le footer à rester en bas si l'on utilise flexbox sur le body ou le container */
}

.links_footer {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--couleur-transparente);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 200px;
    margin-bottom: 10px;
    z-index: 1000;
}

.show_links {
    display: flex;
}

.links_footer a {
    display: block;
    color: #F0F0F0;
    font-weight: 800;
    text-decoration: none;
    padding: 8px 0;
    font-size: 1rem;
    transition: color 0.3s ease, padding-right 0.3s ease;
}

.links_footer a:hover {
    color: #AE9A64;
    padding-right: 10px;
}

.links_footer a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: var(--navbar-color);
    transition: width 0.3s ease-in-out;
}

.links_footer a:hover::after {
    width: 100%;
}

.footer_btn {
    font-family: 'Poppins', sans-serif;
    background-color: var(--couleur-transparente);
    color: #fff;
    padding: 10px 20px;
    margin-left: 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.txt_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F0F0F0;
    width: 40%;
    height: 100%;
    padding: 20px 0;
}

.fleche_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: 0px 5px;
    height: 50px;
}

.fleche_footer img {
    height: 30px; 
    width: auto;  
}


