/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



/* Variables */
:root {
    --font-size:1rem; 
    --couleur-transparente: rgba(0, 0, 0, 0.4)
}

.light-mode {
    --navbar-color : #222;
    --navbar-bg-color: #F0F0F0;
}

.dark-mode {
    --navbar-color : #FFF;
    --navbar-bg-color: #000;
}

.transparent-mode {
    --navbar-color : #F0F0F0;
    --navbar-bg-color : var(--couleur-transparente)
}



/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

ul {
    list-style: none;
}


/* Basic style */
body {
    position: relative;
    font-size: var(--font-size);
    font-family: 'Poppins', sans-serif;
    background-image: url(Images/Intérieur/Elegant\ Hotel\ Lobby\ With\ Minimalist\ Design\ And\ Art\ Piece.png);
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Ajustez l'opacité ici */
    z-index: 0;
}

body > * {
    position: relative;
    z-index: 1;
}


.main_content {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 800px;
    padding: 1rem;
}

.main_title {
    color: #F8F3E6;
    font-family: "Spectral SC", serif;
    font-size: 5rem;
    font-weight: lighter;
    padding: 10px;
    border-radius: 5px;
    margin-top: 150px;
    text-align: center;
}



/* Navbar */
.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 10px;
    color: var(--navbar-color);
    background:var(--navbar-bg-color);
    border-bottom: 1px solid #F0F0F0;
}

.navbar_logo {
    padding: 0px 5px;
    height: 100%;
}

.navbar_logo img {
    height: 100%;
}
.navbar_links {
    display: flex;
}

.navbar_link {
    padding: 0 10px;
}

.navbar_link > a {
    text-decoration: none;
    color: var(--navbar-color);
}

.burger {
    display: none; /* le menu se colle à droite*/
}


/* Footer */ 
footer {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    display: flex;
    left: 0;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #F0F0F0;
    background-color: var(--couleur-transparente);
    font-size: 0.8rem;
}

.links_footer {
display: none;
  flex-direction: column;
  position: absolute;
  bottom: 80px; 
  left: 10%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8); 
  background-color: var(--couleur-transparente);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  width: 200px; 
  margin-bottom: 20px;
}

.show_links {
    display: flex;
}

.links_footer a {
  display: block;
  color: #F0F0F0 ; 
  font-weight: 800;
  text-decoration: none;
  padding: 8px 0;
  font-size: 1rem;
  transition: color 0.3s ease, padding-right 0.3s ease; 
}

.links_footer a:hover {
  color: #AE9A64; 
  padding-right: 10px; 
}

.links_footer a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: var(--navbar-color);
  transition: width 0.3s ease-in-out;
}

.links_footer a:hover::after {
  width: 100%;
}

.links_footer > a:hover {
    padding-right: 2rem;
    letter-spacing: 2px;
}

.footer_btn {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  background-color: var(--couleur-transparente);
  color: #fff;
  padding: 10px 20px;
  margin-left: 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}


.txt_footer {
     display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
    color: #F0F0F0;
    width: 50%;
    height: 100%;
}

.fleche_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
    width: 10%;
    padding: 0px 5px;
    height: 50px;
    margin-right: 20px;
}

.fleche_footer img {
    height: 30px; 
    width: auto;  
}




/* Small devices (petits écrans) */
@media screen and (max-width:767px) {
 
body {
    background-image: url(Images/Extérieur/exterieur2.jpeg) ;
    background-size: cover;
}

    .navbar_links {
        display: flex;
        flex-direction: column;
        max-width: 48%; 
        height: auto; /* Ajuster la hauteur automatiquement */
        position: absolute;
        top: 90px; /* Placer la liste sous la navbar */
        left:10px; /* Positionner à gauche */
        background: var(--navbar-bg-color);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
        border-radius: 5px;
        overflow-wrap: break-word; 
        z-index: 9999; 
    }
    
    .show-nav .navbar_links {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s ease-in-out;
    }

    .navbar_link {
        opacity: 0;
        transform: translateX(-50px); /* Les éléments arrivent par le bas */
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    .show-nav .navbar_link {
        opacity: 1;
        transform: translateY(0); /* Animation des liens */
    }

    .navbar_link > a {
        display: block;
        padding: 1rem;
        font-size: 1.2rem;
        transition: all .4s ease-in-out;
    }
    
    .navbar_link > a:hover {
        padding-right: 2rem;
        letter-spacing: 3px;
        color: #AE9A64;
    }

    
    /* Toggle menu (menu de basculement) */
    .burger {
        display: block;
        position: relative;
        padding-left: 10px;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    .bar {
        display: block;
        width: 25px;
        height: 2px;
        background: var(--navbar-color);
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }

    .show-nav .bar {
        width: 0;
        background: transparent;
    }
    .bar::before, .bar::after {
        content: "";
        display: block;
        width: 25px;
        height: 2px;
        padding-left: 0px;
        position: absolute;
        left: 10;
        background: var(--navbar-color);
        border-radius: 3px;
        transition:all .5s ease-in-out;
    }
    
    .bar::before {
        transform: translateY(-12px);
    }

    .show-nav .bar::before {
        transform: rotate(45deg);
    }
    
    .bar::after {
        transform: translateY(12px);
    }
    
    .show-nav .bar::after {
        transform: rotate(-45deg);
    }

    /*body*/
    .main_title {
    font-size: 4rem;
    padding: 10px;
    border-radius: 5px;
        margin-top: 150px;
        text-align: center;
    }

    /*footer*/
    .footer_btn {
  margin-left: 10px;
    }

 .links_footer {
        left: 37%
     }

     .txt_footer {
    font-size: 0.7rem;
}
}

/* Animations */
.show-nav .first {
    transition: all 0.5s ease-out;
}
.show-nav .second {
    transition: all 0.6s ease-out;
}
.show-nav .third {
    transition: all 0.7s ease-out;
}
.show-nav .four {
    transition: all 0.8s ease-out;
}
.show-nav .fifth {
    transition: all 0.9s ease-out;
}




/* médium devices (écrans moyens) */
@media screen and (min-width:768px) {
    .navbar_link > a::after {
        display: block;
        content: "";
        width:0;
        height: 1px;
        background: var(--navbar-color);
        transition:width .4s;
    }
     .navbar_link:hover > a::after {
         width: 100%;
     }

     .links_footer {
        left: 17%
     }
}


